<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="Description" content="Fabrica de medias ubicada en la Ciudad de Bragado. Medias de excelente calidad, venta por menor y mayor">
    <title>Proyecto_final</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/scss/prueba.css">
</head>

<body>

    <header class="header" >

       
       <div class="logo">

        <a  href="../index.html"><img src="../img/logo.jpeg" alt="logo" height="150px" width="150px" >  </a>

      </div>
     
     <div class="iconos">
      <div class="ancho"  >

        <form  class="d-flex" >
          <input  class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" >
          <button  class="btn btn-outline-success" type="submit">Buscar </button>
        </form>
      </div> 

    <div class="carrito">

      <img class="img-fluid" src="../img/corazon.png" alt="corazon" height="35px" width="35px">

      <a href="./iniciar-sesion.html"> <img class="img-fluid" src="../img/usuario.png" alt="usuario" height="35px" width="35px"></a>

      <img class="img-fluid" src="../img/carrito.png" alt="carrito" height="35px" width="35px"> 

     

  </div>
</div>
  
    </header>

    <section  class="section"> 

      <div class="menu">
        <nav  class="navbar navbar-expand-lg navbar-light bg-light">
            <div  class="container-fluid">
              <a class="navbar-brand" href="../index.html">Menu</a>
              <button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Categorias
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="./categorias.html">Deporte</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="./categorias.html">Urbano</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="./categorias.html">Infantil</a></li>
                    </ul>
                    <li class="nav-item">
                        <a class="nav-link" href="./quienes-somos.html">Quienes Somos</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./iniciar-sesion.html">Iniciar Sesion</a>
                      </li>
                  </li>
                  
                </ul>
              </div>
            </div>
          </nav>

    </div>

    <div class="fabrica"  >


     <strong> <h1>¿Quienes somos?</h1></strong>

  
  </div>


  <div class="quienesSomos">

   

    <h1>¿Quienes somos?</h1>

 
    <p>Somos una empresa creada en el año 2020 que arranco su emprendimiento tras un año 
      de pandemia. Zibá es fabrica de medias la cual produce para las primeras marcas del mercado garantizando una calidad e innovación por excelencia.Pretendemos crecer a nivel nacional e internacional. Tenemos las ganas y las herramientas para creer que es posible!</p>


      <h2>¡Solo faltas vos!</h2>

    </div>

      <div class="quienesSomos">

      <h1> Nuestros Valores:</h1>

      <ul>
        <li class="item-4">Cliente siempre primero</li>
        <li class="item-3">Compromiso</li>
        <li class="item-2">Hacer lo correcto</li>
        <li class="item-1">Mas que un equipo</li>
      </ul>
    
  </div>

      </section>

    <footer class="footer">


        <div class="nosotros" >
   
   
             <ul class="lista">
   
               <strong> <p>ZIBÁ</p> </strong>
   
               <li><a href="./quienes-somos.html"> Quienes somos </a></li>  
               <li>Iniciar Sesion</li>
               <li>Contacto</li>
               <li>Trabaja Con Nosotros</li>
   
             </ul>
   
   
           </div>
   
           <div class="compras">
   
           
   
             <ul class="lista">
   
               <strong> <p>Compras online</p> </strong>
   
               <li>Promociones</li>
               <li>Metodos de envio</li>
               <li>Formas de pago</li>
               <li>Politicas de cambio</li>
               <li>Politicas de privacidad</li>
             </ul>
   
           </div>
   
           <div class="ayuda">
   
            
   
             <ul class="lista">
   
               <strong> <p>Ayuda</p> </strong>
   
               <li>Contacto</li>
               <li>Como Comprar</li>
               <li>Cambios</li>
               <li>Devoluciones</li>
               <li>Preguntas frecuentes</li>
             </ul>
           </div>
   
           <div class="Suscribite">
   
            <h3 >Suscribite </h3>
   
            <h5>Enterate de todas nuestras novedades y promociones </h5>
   
             <form>
               <div class="mb-3">
                 <label for="exampleInputEmail1" class="form-label">Email</label>
                 <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                 <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
               </div>
               <button type="submit" class="btn btn-primary">Suscribite</button>
             </form>
   
           </div>
   
           <div class="instagram">
   
            <a href="https://www.instagram.com/ziba.ct/"> <img class="img-fluid" src="../img/instagram.png" alt="instagram" height="35px" width="35px"></a>
   
             <img class="img-fluid"  src="../img/facebook.png" alt="facebook" height="35px" width="35px">
   
             <a href="https://www.google.com/maps/place/Rauch+1173,+Bragado,+Provincia+de+Buenos+Aires/@-35.1064574,-60.4812823,16.5z/data=!4m5!3m4!1s0x95bedc25128be473:0xdf392b4372db8e62!8m2!3d-35.1068921!4d-60.4795801">
              <img class="img-fluid" src="../img/ubicacion.png" alt="ubicacion" height="35px" width="35px" ></a> 
   
           </div>
   
           <div class="copy">
   
             <p> © 2021 Zibá. Todos los derechos reservados. </p> 
   
            </div>
   
         <strong> <p class="ghdev">GHDev</p> </strong> 
   
       </footer>
   
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
   </body>
   </html>